body{ 
    
    background-image: url(../assets/Rep.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

nav > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

#fot{
    text-align: center;
}

ul{
    font-size: x-large;
    font-style: italic;
}

h2{
    font-style: normal;
    font-size: xx-large;
}

#lin{
    font-size: medium;
    font-style: normal;
}
